.rps, 
.btn-header,
.start-button,
.round, 
.score-board,
.game-result,
.reset {
    text-align: center;
}

.select,
.score-num {
    text-align: center;
}

.choice,
.score {
    display: flex;
    justify-content: space-around;
}

.intro {
    transition: opacity 0.5s ease;
}

.game {
    transition: opacity 0.5s ease 0.5s;
}

div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all; 
}

