body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header-img {
    text-align: center;
}

.rps { 
    height: 350px;
}

.intro {
    height: 175px;
}

.select {
    text-align: center;
    height: 175px;
}

.game {
    position: relative;
    top: -193px;
}

.selections,
.selections-btns,
.score {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}

.choice,
.scores {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.player-choice,
.computer-choice,
.player-score,
.computer-score {
    border: 2px black solid;
    border-radius: 5px;
    padding: 10px;
}

.selections-btns {
    position: relative;
    top: -100px;
    opacity: 30%;
    pointer-events: pointer;
}

.rock-img, 
.paper-img,
.scissors-img {
    width: 100px;
}

.rock-btn, 
.paper-btn,
.scissors-btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
}

.rps, 
.btn-header,
.start-button,
.round, 
.score-board,
.result-reset,
.score-board  {
    text-align: center;
}

.result-reset {
    background-color: pink;
    height: 175px; 
    position: relative;
    top: -700px;
    transition: opacity 0.7s ease;
}

.game-result {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    transition: opacity 0.7s ease;
}

.score-num {
    text-align: center;
}



/* Animations */

.intro {
    transition: opacity 0.7s ease;
}

.game {
    transition: opacity 0.7s ease 0.7s;
}

div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all; 
}

